#show-game {
  display: none;
}

.col-md-4 {
  height: 100% !important;
}

.stretch {
  display: inline-block;
  width: 100%;
}

.stretch:first-child {
  margin-bottom: 10px;
}

.messages-wrapper {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 70px;
  margin-bottom: 15px;
  padding: 0 20px;
}

#message {
  line-height: 50px;
}

.linkify {
  color: blue;
  cursor: pointer;
}

.linkify:hover {
  text-decoration: underline;
}

.scores-wrapper .primary:first-child {
  display: inline-block;
  width: 60%;
}

.dice {
  height: 98px;
  width: 98px;
  background: url("../images/dice.png") no-repeat;
  margin: 0 auto;
}

.dice-one {
  background-position: -2px -2px;
}

.dice-two {
  background-position: -102px -2px;
}

.dice-three {
  background-position: -202px -2px;
}

.dice-four {
  background-position: -302px -2px;
}

.dice-five {
  background-position: -402px -2px;
}

.dice-six {
  background-position: -503px -2px;
}
