#show-game {
  display: none;
}

html, body {
  height: 100%;
}

h1.page-header {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  margin-top: 5px;
}

.col-md-4 {
  height: 100% !important;
}

.stretch {
  display: inline-block;
  width: 100%;
}

.stretch:first-child {
  margin-bottom: 10px;
}

.messages-wrapper {
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 70px;
  margin-bottom: 15px;
  padding: 0 20px;
  font-family: 'Amatic SC', cursive;
  background: white;
}

.messages-wrapper h5 {
  font-size: 30px;
}

#message {
  line-height: 50px;
}

.linkify {
  color: blue;
  cursor: pointer;
}

.linkify:hover {
  text-decoration: underline;
}

.scores-wrapper .primary:first-child {
  display: inline-block;
  width: 60%;
}

.dice {
  height: 98px;
  width: 98px;
  background: url("../images/dice.png") no-repeat;
  margin: 0 auto;
}

.container.page-wrapper {
  margin-top: 25px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, .5);
}

.dice-result-wrapper {
  height: 145px;
}

.dice-result-wrapper > span {
  display: inline-block;
}

button:focus {
  outline: none !important;
}

.well {
  height: 260px;
}

.dice-one {
  background-position: -2px -2px;
}

.dice-two {
  background-position: -102px -2px;
}

.dice-three {
  background-position: -202px -2px;
}

.dice-four {
  background-position: -302px -2px;
}

.dice-five {
  background-position: -402px -2px;
}

.dice-six {
  background-position: -503px -2px;
}

@media (min-width: 768px) {
  .dice-result-wrapper > span {
    margin-bottom: 35px;
  }
}
